---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavigationBar.astro';
import SubHeading from '../components/SubHeading.astro'

import { siteInfo } from '../lib/config';
---

<Layout>
	<NavigationBar projectName = {siteInfo.projectName} />

	<div class="px-20 py-10 md:px-55">
		<SubHeading title="Our Project" />
		<div class="ml-5 mt-2">Lorem Ipsum</div>
		<br/>

		<SubHeading title="Our Objectives" />
		<div class="ml-5 mt-2">Lorem Ipsum</div>
		<br/>
	</div>
</Layout>
