---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavigationBar.astro';
import SubHeading from '../components/SubHeading.astro'

import { siteInfo } from '../lib/config';
import Body from '../components/Body.astro';
---

<Layout>
	<NavigationBar projectName = {siteInfo.projectName} />

	<Body>
		<SubHeading title="Our Project" />
		<div class="ml-5 mt-2">Lorem Ipsum</div>
		<br/>

		<SubHeading title="Our Objectives" />
		<div class="ml-5 mt-2">Lorem Ipsum</div>
		<br/>
	</Body>
</Layout>
